.gimbap__hero{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.gimbap__img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 15px;
    box-shadow: var(--clr-orange900) 0px 2px 8px 0px;
}

.gimbap__title{
    text-transform: capitalize;
    font-size: var(--size-4xl);
    color: var(--clr-orange900);
}

.gimbap__ingredients{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   
}

.gimbap__ingredients-title{
    text-transform: capitalize;
    font-size: var(--size-xl);
    color: var(--clr-orange900);
}

.gimbap__ingredients-items{
    font-size: var(--size-sm);
    color: var(--clr-yellow800);
}

.gimbap__process{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   
}

.gimbap__process-title{
    text-transform: capitalize;
    font-size: var(--size-xl);
    color: var(--clr-orange900);
}


.gimbap__process-points{
    text-align: justify;
    font-size: var(--size-sm);
    color: var(--clr-yellow800);
}

.gimbap__process-points::marker{
    font-weight: bold;
}

.footer{
    text-align: center;
    font-size: var(--size-sm);
    color: var(--clr-yellow800);
    margin-bottom: 1rem ;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {

    .gimbap__title{
        font-size: var(--size-5xl);
    }
 
    
    .gimbap__ingredients-title{
        font-size: var(--size-2xl);
    }
    
    .gimbap__ingredients-items{
        font-size: var(--size-base);
    }
    
    
    .gimbap__process-title{

        font-size: var(--size-2xl);

    }
    
    
    .gimbap__process-points{

        font-size: var(--size-base);

    }

   
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .gimbap__hero{
    gap: 3rem;
    }

    .gimbap__img{
        width: 100%;
        height: 15rem;
        object-fit: cover;
        opacity: 0.7;
        border-radius: 15px;
        box-shadow: var(--clr-orange900) 0px 2px 8px 0px;
    }

    .gimbap__title{

        font-size: var(--size-6xl);
        width: 872px;
        align-self: center;
  
    }
    
    .gimbap__ingredients{

        gap: 1rem;
        width: 872px;
        align-self: center;
       
    }
    
    .gimbap__ingredients-title{
  
        font-size: var(--size-3xl);

    }
    
    .gimbap__ingredients-items{
        font-size: var(--size-lg);

    }
    
    .gimbap__process{

        gap: 1rem;
        width: 872px;
        align-self: center;
       
    }
    
    .gimbap__process-title{

        font-size: var(--size-3xl);

    }
    
    
    .gimbap__process-points{

        font-size: var(--size-lg);

    }
    
    .footer{
        size: var(--size-base);
    }

}

/* xl */
@media (min-width: 1280px) {

    
        .gimbap__title{
    
            font-size: var(--size-7xl);
      
        }
        

        
        .gimbap__ingredients-title{
      
            font-size: var(--size-4xl);
    
        }
        
        .gimbap__ingredients-items{
            font-size: var(--size-xl);
    
        }
        

        
        .gimbap__process-title{
    
            font-size: var(--size-4xl);
    
        }
        
        
        .gimbap__process-points{
    
            font-size: var(--size-xl);
    
        }

        .footer{
            size: var(--size-lg);
        }
        
}

/* 2xl */
/* @media (min-width: 1536px) {} */