.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: var(--size-sm);
    color: var(--clr-yellow800);
    margin-bottom: 1rem ;
    text-align: center;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .footer{
        size: var(--size-base);
    }

}

/* xl */
@media (min-width: 1280px) {
    .footer{
        size: var(--size-lg);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */